body
{
    background-color: #272727;
    margin: 0;
}

input[type=number] {
    -webkit-appearance: textfield;
    -moz-appearance:textfield;
}

input
{
    outline: none;
    border: none;
    display: block;
    margin: auto;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #575757;
}

#create
{
    margin-top: calc(50vh - 100px);
}